/* **************************************
   * Variables                          *
   ************************************** */
:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  --white: hsl(0, 0%, 100%);
}

/* **************************************
   * General                            *
   ************************************** */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.4rem;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  background: url(./images/bg-pattern-top.svg) no-repeat right 50vw top -65vh,
    url(./images/bg-pattern-bottom.svg) no-repeat left 60vw bottom -65vh,
    var(--dark-cyan);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 2rem;
  background-color: var(--dark-blue);
  color: var(--white);
  font-size: 1.2rem;
}

footer a {
  color: var(--dark-cyan);
}

/* **************************************
   * Card                               *
   ************************************** */

.card {
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
  max-width: 90%;
}

.card__fig {
  height: 14rem;
  width: 100%;
  background: url(images/bg-pattern-card.svg) repeat;
  position: relative;
}

.card__img {
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 50%;
  border: 2px solid var(--white);
}

.card__user {
  margin-top: 7rem;
  margin-bottom: 3rem;
  text-align: center;
}

.card__age {
  font-weight: 400;
}

.card__city {
  display: block;
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
}

.card__list {
  padding: 3rem 0;
  border: 1px solid var(--dark-gray);
  display: flex;
  justify-content: space-around;
}

.card__list-item {
  list-style-type: none;
  text-align: center;
}

.card__list-item > span {
  display: block;
}

.card__list-item--bold {
  font-weight: 700;
}

.card__list-item--light {
  font-size: 1.5rem;
  margin-top: 1rem;
}
